<div class="container container-fluid">
    <form class="form" [formGroup]="userForm">
        <div class="row">
            <div class="col">
                <label class="form-label">Nombres</label>
                <input id="firstName" type="text" class="form-control" placeholder="Nombres" aria-label="First name"
                    formControlName="firstName">
            </div>
            <div class="col">
                <label class="form-label">Apellidos</label>
                <input id="lastName" type="text" class="form-control" placeholder="Apellidos" aria-label="Last name"
                    formControlName="lastName">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="form-label">Fecha Nacimiento</label>
                <input id="birthDate" type="date" class="form-control" placeholder="Fecha Nacimiento" aria-label="birthday"
                    formControlName="birthDate">
            </div>
            <div class="col">
                <label class="form-label">Género</label>
                <select id="genre" class="form-select form-control" aria-label="Default select example" aria-placeholder="Genero"
                    formControlName="genre">
                    <option value="" selected>-- Seleccione --</option>
                    <option value="M">Masculino</option>
                    <option value="F">Femenino</option>
                    <option value="O">Otro</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="form-label">Dirección</label>
                <input id="address" type="text" class="form-control" placeholder="Dirección" aria-label="address"
                    formControlName="address">
            </div>
            <div class="col">
                <label class="form-label">Email</label>
                <input id="email" type="text" class="form-control" placeholder="Email" aria-label="email" formControlName="email">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="form-label">Número de teléfono</label>
                <input id="numberPhone" type="text" class="form-control" placeholder="Número de teléfono" aria-label="Number phone" formControlName="numberPhone">
            </div>
            <div class="col">
                <!-- <input type="text" class="form-control" placeholder="Last name" aria-label="Last name"> -->
            </div>
        </div>
        
        <div class="col-12 mt-4">
            <button type="submit" class="btn btn-primary mr-2">Guardar</button>
            <button class="btn btn-dark">Cancelar</button>
        </div>
      </form>
</div>