<div>
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Registro de Activos Fijos</h4>
                <form class="form" [formGroup]="formulario">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label">Código</label>
                            <input id="assetCode" type="text" class="form-control" formControlName="assetCode"
                                placeholder="Ejemplo: AF0000001" aria-label="Template name">
                        </div>
                        <div class="col">
                            <label class="form-label">Categoria</label>
                            <select id="category" class="form-select form-control" name="category"
                                formControlName="category" formControlName="category" (change)="onSelectCategory()"
                                aria-label="Default select example" aria-placeholder="Category">
                                <option value="">-- Seleccionar --</option>
                                <option value={{category.id}} *ngFor="let category of listCategories">{{category.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label">Valor de Compra</label>
                            <input id="purchaseValue" type="text" class="form-control" formControlName="purchaseValue"
                                placeholder="1.000.000" aria-label="Template name">
                        </div>
                        <div class="col">
                            <label class="form-label">Fecha de Compra</label>
                            <input id="purchaseDate" type="date" class="form-control" formControlName="purchaseDate"
                                placeholder="Fecha de Compra" aria-label="First name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label">Usuario Responsable</label>
                            <select id="userResponsible" class="form-select form-control" name="userResponsible"
                                formControlName="userResponsible" formControlName="userResponsible"
                                (change)="onSelectUserResponsible()" aria-label="Default select example"
                                aria-placeholder="userResponsible">
                                <option value="">-- Seleccionar --</option>
                                <option value={{userResponsible.id}} *ngFor="let userResponsible of listResponsable">
                                    {{userResponsible.userName}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Tiempo de Vida Util</label>
                            <input id="usefullLifetime" type="text" class="form-control"
                                formControlName="usefullLifetime" placeholder="72" aria-label="Template name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-label">Ubicación del Activo</label>
                            <input id="location" type="text" class="form-control" formControlName="location"
                                placeholder="Oficina 1" aria-label="Template name">
                        </div>
                        <div class="col">
                            <label class="form-label">Tipo Activo</label>
                            <select id="assetType" class="form-select form-control" name="assetType"
                                formControlName="assetType" formControlName="assetType"
                                (change)="onSelectAssetTypeDetail()" aria-label="Default select example"
                                aria-placeholder="assetType">
                                <option value="">-- Seleccionar --</option>
                                <option value={{assetType.id}} *ngFor="let assetType of filterListAssetType">
                                    {{assetType.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <label class="form-label">Propiedades</label>
                        <div class="col-lg-12 grid-margin stretch-card">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th width="75%">Propiedad</th>
                                            <th class="align-items-center">Descripción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let detail  of listAssetTypeDetail">
                                            <td>{{ detail?.property?.name }}</td>
                                            <td>
                                                <input 
                                                    id="properties"
                                                    type="text"
                                                    class="form-control"
                                                    [formControl]="dynamicFormControls[detail?.property?.name || 'defaultName']" aria-label="Template name">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <button type="submit" class="btn btn-primary mr-2" (click)="createAsset()">Guardar</button>
                        <!-- <button class="btn btn-dark" >Cancelar</button> -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>