.form-label {
    display: inline-block;
    /* width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: .5rem; */
    font-size: 1rem;
    /* line-height: inherit; */
    color: #ffffff;
    white-space: normal;
  }

.form-check-inline {
    display: inline-flex;
    align-items: center;
    padding-left: 0;
    margin-right: 0.75rem; 
}

.form-check-inline .form-check-input {
    position: static;
    margin-top: 0;
    margin-right: 0.3125rem;
    margin-left: 0; 
}

.form-control{
    color: #ffffff;
}

.row{
    padding-top: 4px;
    padding-bottom: 12px;
}