<div class="col-lg-12 grid-margin stretch-card content-wrapper">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title" style="text-align: center">Listado de Activos Fijos</h2>
      <div class="row">
        <div class="col-md-6">
            <label class="form-label">Código</label>
            <input id="assetCode" #assetCodePrefixSelect type="text" class="form-control" (input)="onInputChange($event)"
                placeholder="Ejemplo: AF0000001" aria-label="Template name">
        </div>
        <div class="col">
            <label class="form-label">Categoria</label>
            <select id="category" #categorySelect class="form-select form-control" name="category" 
                (change)="onSelectCategory($event)" aria-label="Default select example" aria-placeholder="Category">
                <option value="">-- Seleccionar --</option>
                <option value={{category.id}} *ngFor="let category of listCategories">{{category.name}}
                </option>
            </select>
        </div>
    </div>
    <div class="row">
      <div class="table-responsive">
        <table class="table table-dark table-hover">
          <thead>
            <tr>
              <th [width]="'10%'">Código</th>
              <th [width]="'30%'">Categoria</th>
              <th [width]="'20%'">Responsable</th>
              <th [width]="'20%'">Ubicación</th>
              <th [width]="'10%'">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let asset of listAsset$ | async">
              <td>{{ asset.assetCode }}</td>
              <td>{{ asset.category.name || "" }}</td>
              <td>{{ asset.userResponsible.person.firstName || '' + ' ' + asset.userResponsible.person.lastName || '' }}</td>
              <td>{{ asset.location }}</td>
              <td>
                <div class="dropdown">
                  <button
                    class="btn btn-secondary dropdown-toggle"
                    type="button"
                    id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Acción
                  </button>
                  <div
                    class="dropdown-menu"
                    aria-labelledby="dropdownMenuButton"
                  >
                    <a
                      class="dropdown-item"
                      [routerLink]="['/dashboard-asset']"
                      [queryParams]="{ id: asset.id }"
                      >Ver Detalle</a
                    >
                    <!-- <a
                      class="dropdown-item"
                      [routerLink]="['/update-asset']"
                      [queryParams]="{ id: asset.id }"
                      >Modificar</a
                    >
                    <a class="dropdown-item" href="#">Dar de baja</a> -->
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
