<div class="container-scroller">
  <div class="container-fluid">
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
          <a class="sidebar-brand brand-logo" href="index.html"><img src="assets/images/asset-logo.svg" alt="logo" /></a>
          <a class="sidebar-brand brand-logo-mini" href="index.html"><img src="assets/images/asset-logo-mini.svg" alt="logo" /></a>
        </div>
        <ul class="nav">
          <li class="nav-item profile">
            <div class="profile-desc">
              <div class="profile-pic">
                <div class="count-indicator">
                  <img class="img-xs rounded-circle " src="assets/images/faces/face15.jpg" alt="">
                  <span class="count bg-success"></span>
                </div>
                <div class="profile-name">
                  <h5 class="mb-0 font-weight-normal">Henry Klein</h5>
                  <span>Administrator</span>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item nav-category">
            <span class="nav-link">Navegación</span>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" routerLink="/dashboard">
              <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#ui-user" aria-expanded="false" aria-controls="ui-user">
              <span class="menu-icon">
                <i class="mdi mdi-laptop"></i>
              </span>
              <span class="menu-title">Usuarios</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-user">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" routerLink="/register-user">Registrar Usuario</a></li>
                <li class="nav-item"> <a class="nav-link" href="../ui-features/dropdowns.html">Listar Usuarios</a></li>
                <li class="nav-item"> <a class="nav-link" href="../ui-features/typography.html">Otro Menú</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#ui-asset" aria-expanded="false" aria-controls="ui-asset">
              <span class="menu-icon">
                <i class="mdi mdi-laptop"></i>
              </span>
              <span class="menu-title">Activos Fijos</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-asset">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" routerLink="/list-asset">Listado de Activos</a></li>
                <li class="nav-item"> <a class="nav-link" routerLink="/create-asset">Registrar Activo Fijo</a></li>
                <li class="nav-item"> <a class="nav-link" routerLink="/create-template">Registrar Categoria Activo Fijo</a></li>   
              </ul>
            </div>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#ui-asset" aria-expanded="false" aria-controls="ui-asset">
              <span class="menu-icon">
                <i class="mdi mdi-laptop"></i>
              </span>
              <span class="menu-title">Solcitud de Mantenimiento</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-asset">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" routerLink="/list-asset">Listado de Solcitudes</a></li>
                <li class="nav-item"> <a class="nav-link" routerLink="/create-asset">Registrar Solicitud</a></li>   
              </ul>
            </div>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#ui-asset" aria-expanded="false" aria-controls="ui-asset">
              <span class="menu-icon">
                <i class="mdi mdi-laptop"></i>
              </span>
              <span class="menu-title">Ordenes de Mantenimiento</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-asset">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" routerLink="/list-asset">Listado de Ordenes</a></li>   
              </ul>
            </div>
          </li>
        </ul>
      </nav>
  </div>
</div>