<div>
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Actualizacion de Activos Fijos</h4>
          <form class="form" [formGroup]="formulario">
            <div class="row">
                <div class="col-md-6">
                    <label class="form-label">Código</label>
                    <input id="code" type="text" class="form-control" 
                        formControlName="code" placeholder="Ejemplo: AF0000001" 
                        aria-label="Template name">
                </div>
                <div class="col">
                    <label class="form-label">Categoria</label>
                    <select id="categoryOption" class="form-select form-control" name="categoryOption" formControlName="categoryOption"
                        formControlName="categoryOption" (change)="onSelectCategory()"
                        aria-label="Default select example" aria-placeholder="Category">
                        <option value={{category.id}} *ngFor="let category of listCategories">{{category.name}}</option>
                    </select>
                </div>
            </div>
            <div class="row">   
                <div class="col-md-6">
                    <label class="form-label">Valor de Compra</label>
                    <input id="purchaseValue" type="text" class="form-control" 
                        formControlName="purchaseValue" placeholder="1.000.000" 
                        aria-label="Template name">
                </div>
                <div class="col">
                    <label class="form-label">Fecha de Compra</label>
                    <input id="purchaseDate" type="date" class="form-control" 
                        formControlName="purchaseDate" placeholder="Fecha de Compra" 
                        aria-label="First name">
                </div>             
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label class="form-label">Responsable</label>
                    <input id="responsible" type="text" class="form-control" 
                        formControlName="responsible" placeholder="Carlos Aguirre" 
                        aria-label="Template name">
                </div>
                <div class="col-md-6">
                    <label class="form-label">Tiempo de Vida Util</label>
                    <input id="usefulLife" type="text" class="form-control" 
                        formControlName="usefulLife" placeholder="72" 
                        aria-label="Template name">
                </div>
            </div>
           
            <div class="col-md-12 mt-3">
                <button type="submit" class="btn btn-primary mr-2" (click)="createAsset()">Guardar</button>
              </div>
          </form>
        </div>
      </div>
    </div>
</div>