<div class="content-wrapper">
  <div class="container container-fluid" >
    <div class="mb-3" style="text-align: center;">
      <h4>DASHBOARD DE ADMINISTRACIÓN GENERAL</h4>
    </div>
    <div class="container" >
      <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
                <h6 class="card-title">Solicitudes de Mantenimiento</h6>
                <div id="chartRequest"></div>
            </div>
          </div>
        </div>
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
                <h6 class="card-title">Reparaciones</h6>
                <div id="chartRepairs"></div>
            </div>
          </div>
        </div>
        <div class="col-md-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
                <h6 class="card-title">Costos de Mantenimiento</h6>
                <div id="chartCost"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
