<div class="content-wrapper">
  <div style="text-align: center;">
    <h4>DASHBOARD DE ADMINISTRACIÓN GENERAL</h4>
  </div>
  <!-- <div class="row">
    <div class="col-md-4 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
            <h4 class="card-title">POR DEFINIR</h4>
            <div id="chartVoltage"></div>
        </div>
      </div>
    </div>
    <div class="col-md-4 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
            <h4 class="card-title">POR DEFINIR</h4>
            <div id="chartStream"></div>
        </div>
      </div>
    </div>
    <div class="col-md-4 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
            <h4 class="card-title">POR DEFINIR</h4>
            <div id="chartTemperature"></div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="row">
    <div class="col-md-4 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
            <h4 class="card-title">Activos por Categoria</h4>
            <div id="chartAssetCategory"></div>
        </div>
      </div>
    </div>
    <div class="col-md-4 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
            <h4 class="card-title">POR DEFINIR</h4>
            <div id="chartRequest"></div>
        </div>
      </div>
    </div>
    <div class="col-md-4 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
            <h4 class="card-title">POR DEFINIR</h4>
            <div id="chartClose"></div>
        </div>
      </div>
    </div>
  </div>
</div>
