<div class="content-wrapper">
  <div class="container">
    <form [formGroup]="searchForm">
      <div class="row">
        <div class="col-md-8 grid-margin stretch-card">
          <div class="container container-fluid">
            <div>
              <label>Fecha Inicio</label>
            </div>
            <div>
              <input type="datetime-local" class="form-control" name="dateFrom" id="dateFrom" formControlName="dateFromSelected"/>
            </div>
          </div>
          <div class="container container-fluid">
            <div>
              <label>Fecha Final</label>
            </div>
            <div>
              <input type="datetime-local" class="form-control" name="dateTo" id="dateTo" formControlName="dateToSelected"/>
            </div>
          </div>
        </div>
        <div class="col-md-4 grid-margin stretch-card mt-3">
          <div class="mt-3">
            <button type="submit"  class="btn btn-primary form-button" (click)="findDashboardData()">Buscar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="container" *ngIf="listDataIot && listDataIot.length > 0">
    <div class="row">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div id="chartVoltage"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container container-fluid">
    <detail-asset [assetDTO]="assetDTO"></detail-asset>
  </div>
</div>
