<div class="content-wrapper">
    <div class="row">
      <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
              <h4 class="card-title">Voltaje</h4>
              <div id="chartVoltage"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
              <h4 class="card-title">Corriente</h4>
              <div id="chartStream"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
              <h4 class="card-title">Temperatura</h4>
              <div id="chartTemperature"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
              <h4 class="card-title">Información de {{assetName}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  