.apexcharts-text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 
.apexcharts-yaxis-title-text{
    font-family: 'Courier New', Courier, monospace;
} 

.apexcharts-legend-text{
    color: aliceblue;
}

.text{
    color: beige;
}