<!-- <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Corona Admin</title>
      <link rel="shortcut icon" href="../assets/images/favicon.png" />
    </head>
    <body> -->
      <!-- <sidebar></sidebar> -->
      <div class="container-scroller">
        <div class="container-fluid page-body-wrapper">
          <!-- <sidebar-top></sidebar-top> -->
          <div class="main-panel">
            <!-- <router-outlet></router-outlet> -->
          </div>
      </div>
    </div>
  <!-- </body>
</html> -->