<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="card-title">Información de {{ assetName }}</div>
        <form>
          <div class="row">
            <div class="col-md-6">
              <label class="form-label">Código Activo Fijo</label>
              <input id="assetCode" type="text" class="form-control" placeholder="Código de Activo Fijo"
                aria-label="asset Code" />
            </div>
            <div class="col-md-6">
              <label class="form-label">Ubicación</label>
              <input id="location" type="text" class="form-control" placeholder="Ubicación"
                aria-label="location" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label class="form-label">Categoria</label>
              <input id="category" type="text" class="form-control" placeholder="Categoria"
                aria-label="category" />
            </div>
            <div class="col-md-6">
              <label class="form-label">Responsable</label>
              <input id="responsible" type="text" class="form-control" placeholder="Responsable"
                aria-label="responsible" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
